.footer {
  padding: 20px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-logo-img {
  width: 200px;
}

.email-input {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.input-box {
  border-radius: 6px;
  outline: none;
  border: none;
  color: white;
}

.copyright {
  margin: 0;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    padding-left: 15px;
  }

  .email-input {
    width: 90%;
  }
}
