.section-7 {
  @include flexCenter;
  height: 400px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.text-container {
  p:nth-child(2) {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px) {
  .section-7 {
    height: auto;
  }

  .section-7 {
    .text-container {
      .color-button {
        margin-left: 0;
      }
    }
  }

  .text-container {
    p:nth-child(2) {
      margin-bottom: 20px;
    }
  }
}
