@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  @include flexCenter;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.intro-bg {
  background-image: url("../src/intro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered-content {
  @include flexCenter;
  flex-direction: column;
  width: 60%;
}

.play-img-width {
  width: 150px;
}

.title-message {
  letter-spacing: 3px;
  opacity: 0.5;
}

.body-message {
  padding-bottom: 50px;
}

nav {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
}

.logo {
  float: left;
  padding: 4px 0px;
}

.logo-img-width {
  width: 50%;
}

nav {
  ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
  }
}

nav {
  ul {
    li {
      a {
        line-height: 80px;
        color: white;
        padding: 20px 0px;
        margin: 10px;
        font-size: 14px;
        z-index: 100;
      }
    }
  }
}

nav {
  a:active {
    border-bottom: 2px solid $main-color;
    font-weight: map-get($font-weights, bold);
  }
}

nav {
  a[tabindex]:focus {
    border-bottom: 2px solid $main-color;
    outline: none;
    font-weight: map-get($font-weights, bold);
  }
}

.bottom-nav {
  top: 100%;
  transform: translateY(-100%);
  left: 0;
  width: 100%;
  height: 100px;
  padding: 15px 90px;
  box-sizing: border-box;
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 880px) {
  #toggle_menu {
    opacity: 0;
  }

  #toggle_menu:checked ~ .menu_items {
    right: 0 !important;
  }

  .btn-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    z-index: 20 !important;
  }

  .menu-white {
    color: white;
    cursor: pointer;
  }

  .menu_items {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
  }

  .item-gray-with-shadow {
    background-color: rgb(138, 137, 137);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }

  .bottom-nav {
    display: none;
  }

  nav {
    ul {
      display: none;
    }
  }

  .hamburger-menu {
    display: block;
  }

  header {
    .centered-content {
      width: 80%;
    }
  }

  header {
    .centered-content {
      p:nth-child(2) {
        font-size: 17px;
      }
    }
  }

  header {
    .centered-content {
      p:nth-child(3) {
        font-size: 48px;
      }
    }
  }

  header {
    nav {
      padding: 0 20px 0px 20px;
      display: flex;
      flex: row;
      justify-content: space-between;
    }
  }

  nav {
    .logo {
      width: 60px;
    }
  }

  .logo-img-width {
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  #toggle_menu:checked ~ .menu_items {
    right: -80px !important;
  }

  .menu_items {
    display: block;
    position: fixed;
    top: 0;
    right: -120%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    z-index: 9;
  }
}

@media only screen and (max-height: 700px) {
  .play-img-width {
    width: 20%;
  }
}
